:root {
    --primary-color: #F2AE72;
    --secondary-color: #400F04;
    
    --accent-color: #F2AE72;
    --back:#F2CDAC ;
    --footer-background-color: #0D0D0D 
}

* {
    box-sizing: border-box;
}
html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex: 1 0 auto;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #400F04;
    transition: color 0.3s ease-in-out; 
}
nav a:hover {
    color: var(--secondary-color);
}
aside {
    padding: 10px 20px;
    background-color: var(--accent-color);
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 120px 20px 20px; 
    background-color: var(--back);
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    padding: 20px;
}
.main-content_2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 120px 20px 20px; 
    background-color: #400F04;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    padding: 20px;
}
.order-form {
    background-color: var(--back);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}
.form-group {
    margin-bottom: 15px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button[type="button"] {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: var(--accent-color);
}
button[type="button"]:hover {
    background-color: var(--accent-color);
}

.cookie-button {
    border: none;
    cursor: pointer;
    width: 600px; 
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("cookie.png") no-repeat center;
    background-size: 50%;
   
    transition: transform 0.3s ease-in-out, background-size 0.3s ease-in-out;
   
}

.cookie-button:hover {
    transform: scale(1.1);
    background-color: transparent;
    background-size: 60%;
}


footer {
    flex-shrink: 0;
    background-color: var(--footer-background-color);
    padding: 20px 0;
    text-align: center;
    color: white; 
}

footer a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

footer a:hover {
    transform: scale(1.1);
}
footer i {
    font-size: 20px; 
}
@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, 5px);
    }
    30% {
        transform: translate(-5px, 5px);
    }
    40%, 60% {
        transform: translate(5px, -5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    70% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(-5px, 5px);
    }
    90% {
        transform: translate(5px, -5px);
    }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.contact-block {
    text-align: center;
    background-color: var(--back);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.intro-text {
    margin-bottom: 20px;
    font-style: italic;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-photo {
    max-width: 150px; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}

.contact-block, .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.recipe-layout {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px; 
}

.ingredients,
.instructions {
    width: 45%; 
    padding: 20px;
    background-color: var(--back);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    margin-top: 20px;
}

h3 {
    color: var(--primary-color); 
    margin-bottom: 15px;
}

ul,
ol {
    list-style-type: none;
    padding: 0; 
}

li::before {
    content: "• ";
    color: var(--accent-color);
    font-weight: bold; 
}

li {
    line-height: 1.5;
    margin-bottom: 10px; 
}

@media (max-width: 768px) {
    .ingredients,
    .instructions {
        width: 100%; 
    }
}
.actions button {
    margin-right: 10px;
}

